.h1
{
	font-family: open-sans-n7, sans-serif;
}

.bodytext---grey,.h2,.bodytext---white,.h2---grey
{
	font-family: open-sans-n3, sans-serif;
}

#u5594-5
{
	font-family: advent-pro-n7, sans-serif;
}

#u5582-5,#u5587-7,#u5597-7,#u5581-6,#u5590-5
{
	font-family: open-sans-n7, sans-serif;
}

#u5669-6
{
	font-family: advent-pro-n2, sans-serif;
}

#u5672-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u5669,#u5669-2,#u5742-6
{
	font-family: advent-pro-n5, sans-serif;
}

#u5736-5,#u5737-4,#u5715-4,#u6478-4,#u8208-5,#u8209-4,#u6581-3,#u6599-5,#u6600-4,#u6601-4,#u6620-4,#u6661-4
{
	font-family: open-sans-n3, sans-serif;
}

