.version.about /* version checker */
{
	color: #0000E0;
	background-color: #1EA1BC;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #EBEBEB;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#pamphletu10396
{
	z-index: 99;
	width: 0.01px;
	height: 41px;
	padding-bottom: 9px;
	top: 0px;
	left: -1px;
}

#u10397popup
{
	z-index: 100;
}

#u10397
{
	width: 381px;
}

#u10398
{
	z-index: 101;
	width: 381px;
	height: 189px;
	margin-right: -10000px;
}

#pu10399
{
	z-index: 102;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
}

#u10399
{
	z-index: 0;
	width: 380px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pmenuu10400
{
	width: 0.01px;
	position: relative;
	left: 254px;
	padding-top: 44px;
	z-index: 2;
}

#menuu10400
{
	z-index: 103;
	width: 116px;
	margin-right: -10000px;
}

#u10415
{
	width: 116px;
}

#u10416
{
	width: 116px;
	min-height: 22px;
	padding-bottom: 12px;
	margin-right: -10000px;
}

#u10418-4
{
	width: 116px;
	min-height: 22px;
}

#u10446
{
	width: 116px;
	min-height: 22px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u10447-4
{
	width: 116px;
	min-height: 22px;
}

#u10402
{
	width: 116px;
	min-height: 22px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u10403-4
{
	width: 116px;
	min-height: 22px;
}

#u10445,#u10401,#u10408
{
	width: 116px;
	margin-top: 2px;
}

#u10409
{
	width: 116px;
	min-height: 22px;
	padding-bottom: 13px;
	margin-right: -10000px;
}

#u10416.MuseMenuActive,#u10446.MuseMenuActive,#u10402.MuseMenuActive,#u10409.MuseMenuActive
{
	width: 116px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u10412-4
{
	width: 116px;
	min-height: 22px;
}

#u10416.MuseMenuActive #u10418-4,#u10446.MuseMenuActive #u10447-4,#u10402.MuseMenuActive #u10403-4,#u10409.MuseMenuActive #u10412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 116px;
	margin: 0px;
}

#u10452
{
	z-index: 128;
	width: 357px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u10453
{
	width: 390px;
	padding-bottom: 9px;
	top: -12px;
	left: -11px;
}

#u10453.PamphletThumbSelected
{
	width: 390px;
	min-height: 0px;
	margin: 0px;
}

#u10454-6
{
	z-index: 134;
	width: 177px;
	min-height: 28px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 11px;
}

#u10453.PamphletThumbSelected #u10454-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 177px;
	margin: 12px -10000px 0px 0px;
}

#u10455
{
	z-index: 130;
	width: 16px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 352px;
}

#u10457
{
	z-index: 131;
	width: 16px;
	height: 4px;
}

#u10456
{
	z-index: 132;
	width: 16px;
	height: 4px;
	margin-top: 2px;
}

#u10458
{
	z-index: 133;
	width: 16px;
	height: 4px;
	margin-top: 2px;
}

#pu10175
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
}

#u10175
{
	z-index: 2;
	height: 453px;
	border-style: none;
	border-color: transparent;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	background: transparent url("../../images/5824776984_ef47e77755_o.jpg") no-repeat center bottom;
	background-size: cover;
}

#u10175-bw
{
	z-index: 2;
	height: 453px;
}

#u9998
{
	z-index: 3;
	width: 140px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 184px;
	left: 120px;
}

#u9998_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#tab-panelu10056
{
	z-index: 5;
	min-height: 803px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10091
{
	z-index: 6;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u10092
{
	z-index: 7;
	width: 190px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: #51807A;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u10092:hover
{
	background-color: #FFFFFF;
	width: 190px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u10092.TabbedPanelsTabSelected
{
	background-color: #FFFFFF;
	width: 190px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u10094-4
{
	z-index: 8;
	width: 190px;
	min-height: 42px;
	border-color: #999999;
	background-color: transparent;
	color: #EBEBEB;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u10092:hover #u10094-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u10092.TabbedPanelsTabSelected #u10094-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 190px;
	margin: 0px -10000px 0px 0px;
}

#u10134
{
	z-index: 12;
	width: 191px;
	min-height: 42px;
	border-style: none;
	border-color: transparent;
	background-color: #51807A;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
}

#u10134:hover
{
	background-color: #FFFFFF;
	width: 191px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u10134.TabbedPanelsTabSelected
{
	background-color: #FFFFFF;
	width: 191px;
	min-height: 42px;
	margin: 0px -10000px 0px 0px;
}

#u10137-4
{
	z-index: 13;
	width: 191px;
	min-height: 42px;
	border-color: #999999;
	background-color: transparent;
	color: #EBEBEB;
	line-height: 42px;
	text-align: center;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u10134:hover #u10137-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u10134.TabbedPanelsTabSelected #u10137-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 191px;
	margin: 0px -10000px 0px 0px;
}

#u10092.TabbedPanelsTabSelected #u10094-4 p,#u10134.TabbedPanelsTabSelected #u10137-4 p
{
	color: #515152;
	visibility: inherit;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
}

#u10057
{
	z-index: 17;
	background-color: transparent;
}

#u10058
{
	z-index: 18;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	padding: 40px 13px 49px 12px;
	border-width: 0px 1px 1px;
}

#u10180-7
{
	z-index: 23;
	width: 353px;
	min-height: 102px;
	background-color: transparent;
	position: relative;
}

#u10180-2,#u10180-4
{
	font-size: 36px;
	text-align: left;
	line-height: 43px;
	color: #515152;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#u10180-5
{
	font-size: 12px;
	text-align: center;
	line-height: 25px;
	color: #EBEBEB;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
}

#u10061-4
{
	z-index: 19;
	width: 353px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 36px;
	text-align: left;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: relative;
}

#u10138
{
	z-index: 30;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 161px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u10143-11
{
	z-index: 31;
	width: 353px;
	min-height: 150px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 12px;
}

#u10143-3
{
	font-weight: 700;
}

#u10143-6
{
	font-size: 24px;
	line-height: 19px;
}

#u10143-8
{
	font-size: 18px;
	line-height: 41px;
	font-style: italic;
}

#u10143-2,#u10143-4,#u10143-9
{
	font-size: 24px;
	line-height: 34px;
}

#u10157
{
	z-index: 42;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 12px;
}

#u10164
{
	z-index: 43;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10166-3
{
	z-index: 44;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10165-4
{
	z-index: 47;
	width: 245px;
	min-height: 42px;
	background-color: #8CC63F;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10167
{
	z-index: 59;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u10169-3
{
	z-index: 60;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10168-4
{
	z-index: 63;
	width: 246px;
	min-height: 42px;
	background-color: #F7931E;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10161
{
	z-index: 75;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u10163-3
{
	z-index: 76;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10162-4
{
	z-index: 79;
	width: 263px;
	min-height: 42px;
	background-color: #EA6045;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10158
{
	z-index: 91;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u10159-3
{
	z-index: 92;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10160-4
{
	z-index: 95;
	width: 277px;
	min-height: 42px;
	background-color: #29ABE2;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14616
{
	z-index: 51;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u14618-3
{
	z-index: 52;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14617-4
{
	z-index: 55;
	width: 261px;
	min-height: 42px;
	background-color: #8CC63F;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14619
{
	z-index: 67;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u14621-3
{
	z-index: 68;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14620-4
{
	z-index: 71;
	width: 131px;
	min-height: 42px;
	background-color: #F7931E;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14622
{
	z-index: 83;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u14624-3
{
	z-index: 84;
	width: 353px;
	min-height: 42px;
	background-color: #E0DCDC;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u14623-4
{
	z-index: 87;
	width: 119px;
	min-height: 42px;
	background-color: #EA6045;
	color: #EBEBEB;
	line-height: 21px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
}

#u10166,#u10165-2,#u10169,#u10168-2,#u10163,#u10162-2,#u10159,#u10160-2,#u14618,#u14617-2,#u14621,#u14620-2,#u14624,#u14623-2
{
	padding-right: 5px;
	padding-left: 5px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#tab-panelu10056-bw
{
	z-index: 5;
	min-height: 803px;
	margin-top: 372px;
}

#u10470-4
{
	z-index: 140;
	min-height: 29px;
}

#u10470-4-bw
{
	z-index: 140;
	min-height: 29px;
	margin-top: 1222px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -1222px;
}

