.bodytext-white
{
	font-family: source-sans-pro-n2, sans-serif;
}

.heading1-white,.bodytext-gray,.heading2-gray
{
	font-family: source-sans-pro-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

#u10418-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u10447-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u10403-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u10412-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u10454-6
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u10454-2
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u10470-4
{
	font-family: source-sans-pro-n6, sans-serif;
}

