.version.index /* version checker */
{
	color: #0000E3;
	background-color: #0EE6B2;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../../images/diagonallines.png") repeat center top;
}

#u9402
{
	z-index: 2;
	min-height: 404px;
	padding-bottom: 166px;
}

#u9253
{
	z-index: 3;
	width: 253px;
	height: 292px;
	border-style: none;
	border-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
	margin-right: -10000px;
	margin-top: 112px;
	left: 64px;
	background: transparent url("../../images/logo-hex-u9253-fr.png") no-repeat center center;
	background-size: contain;
}

#u9402-bw
{
	z-index: 2;
	min-height: 404px;
}

#u9254-6
{
	z-index: 4;
	width: 245px;
	background-color: transparent;
	color: #515152;
	line-height: 36px;
	text-align: center;
	font-size: 30px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 188px;
	left: 67px;
}

#u9254,#u9254-3
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#menuu9255
{
	z-index: 10;
	width: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 240px;
	left: 100px;
}

#u9284
{
	width: 180px;
	background-color: transparent;
	position: relative;
}

#u9285
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 17px;
	position: relative;
	margin-right: -10000px;
}

#u9288-4
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u9285:hover #u9288-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u9292
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u9295-4
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u9292:hover #u9295-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u9291,#u9277
{
	width: 180px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u9278
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
}

#u9285:hover,#u9292:hover,#u9278:hover
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	width: 180px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u9279-4
{
	width: 180px;
	min-height: 22px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 9px;
}

#u9278:hover #u9279-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 180px;
	margin: 0px -10000px 0px 0px;
}

#u9285.MuseMenuActive #u9288-4,#u9292.MuseMenuActive #u9295-4,#u9278.MuseMenuActive #u9279-4
{
	border-style: solid;
	border-color: #000000;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 180px;
	margin: 0px -10000px -1px 0px;
	border-width: 1px 0px;
}

#u9285.MuseMenuActive #u9288-4 p,#u9292.MuseMenuActive #u9295-4 p,#u9278.MuseMenuActive #u9279-4 p
{
	font-size: 20px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	font-style: normal;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

