#pamphletu10396
{
	position: fixed;
}

#u10397
{
	position: absolute;
	background-color: transparent;
}

#u10399
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	filter: alpha(opacity=90);
}

#menuu10400
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	position: relative;
}

#u10398,#u10416
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10418-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10446
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10447-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10402
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10403-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10415,#u10445,#u10401,#u10408
{
	background-color: transparent;
	position: relative;
}

#u10409
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10412-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #515152;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
}

#u10452
{
	position: relative;
}

#u10453
{
	position: absolute;
	border-style: none;
	border-color: transparent;
	background-color: #51807A;
}

#u10453.PamphletThumbSelected
{
	background-color: transparent;
}

#u10454-6
{
	color: #EBEBEB;
	line-height: 29px;
	text-align: right;
	font-size: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	background: transparent url("../../images/logo-hex.png") no-repeat left top;
	background-size: contain;
}

#u10453.PamphletThumbSelected #u10454-6
{
	background: transparent url("../../images/logo-hex2.png") no-repeat left top;
	background-size: contain;
}

#u10453.PamphletThumbSelected #u10454-6 p,#u10453.PamphletThumbSelected #u10454-6 span
{
	color: #51807A;
	visibility: inherit;
	text-align: right;
}

#u10454-2
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
}

#u10455
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u10457,#u10456,#u10458
{
	border-style: none;
	border-color: transparent;
	background-color: #EBEBEB;
	position: relative;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#u10470-4
{
	background-color: #51807A;
	color: #EBEBEB;
	line-height: 28px;
	text-align: center;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

